<% provide(:title, "Comment") %>
<div class="block-update-card form">
	<div class="row">
    <div class="col-md-6 col-md-offset-3">
			<h2> Edit this comment</h2>
			<%= bootstrap_form_for @comment do |f| %>
			  <%= f.text_area :body, label: "Comment:", required: true, class: 'form-control'  %>

			  <%= f.hidden_field :user_id, value: current_user.id, class: 'form-control'  %>

			  <%= f.hidden_field :event_id, value: @event.id %>

			  
			  <%= f.select :rating,  options_for_select(["Terrible","Meh..","Good","Fun","Awesome"]), label: "Rate your experience" %>

			  <%= f.submit 'Add Comment', class: 'btn btn-primary sign_up_button' %>
			<% end %>
		</div>
	</div>
</div>