<div id="profile_info">
  <h2>Profile</h2>
  <p>Name:  <%= current_user.name %><br></p>
  <p>Age:   <%= current_user.age %><br></p>
  <p>Where: <%= current_user.location %><br></p>
  <p>Email: <%= current_user.email %><br></p>
  <p>Bio:   <%= current_user.bio %><br></p>
</div>

<div class ="container">
		<h1> Events you've posted</h1>
		<p><%= link_to 'New Event', new_event_path, class: 'btn btn-primary'%></p>
		<table id = 'list_events' class = 'table table-striped'>
			<thead>
	      <tr>
	      	<th>Title</th>
	      	<th>Location</th>
	        <th>Category</th>
	        <th>Rating</th>
	        <th>Price</th>
	        <th></th>
	      </tr>
	    </thead>
	    <tbody>
	    <% @user.events.each do |event| %>
	    <tr>
			  <td><%= event.title %></td>
			  <td><%= event.location %></td>
			  <td><%= event.category %></td>
			  <td><%= event.rating %></td>
			  <td>$<%= event.price %></td>
			  <td>
			  <div class="btn-group btn-group-xs">
					<%= link_to 'View', event_path(event), class: "btn btn-primary" %>
					<%= link_to 'Edit', edit_event_path(event), class: "btn btn-primary" %>
					<%= link_to 'Delete', event, data: { confirm: "Are you sure you wish to delete this listing?" }, method: :delete, class: "btn btn-primary" %>
				</div>
				</td>
			</tr>
			<% end %>
	    </tbody>
  	</table>
</div>

