<hr>
<% @event.comments.each_with_index do |comment, index| %>


  <div class="row">
<div class="col-sm-1">
<div class="thumbnail">
<img class="img-responsive user-photo" src="https://ssl.gstatic.com/accounts/ui/avatar_2x.png">
</div><!-- /thumbnail -->
</div><!-- /col-sm-1 -->

<div class="col-sm-11">
<div class="panel panel-default">
<div class="panel-heading">
<strong><%= comment.user.name%></strong> <span class="text-muted">commented <%= time_ago_in_words(comment.created_at)%> ago</span>
<div class="pull-right"><%= link_to 'Edit', edit_comment_path(comment) if current_user.id == comment.user_id %> <%= link_to 'Delete', comment_path(comment), method: :delete if current_user.id == comment.user_id %></div>
</div>
<div class="panel-body">
<%= comment.body %>
</div><!-- /panel-body -->
</div><!-- /panel panel-default -->
</div><!-- /col-sm-5 -->
</div><!-- /row -->
<% end %>
<hr>



<%= bootstrap_form_for Comment.new do |f| %>
  <%= f.text_area :body, label: "Add a comment:"  %>

  <%= f.hidden_field :user_id, value: current_user.id %>

  <%= f.hidden_field :event_id, value: @event.id %>

  
  <%= f.select :rating,  options_for_select(%w(1 2 3 4 5 6 7 8 9 10)), label: "Rate your experience 1 - 10 with 1 being 'Horrible' and 10 being 'Awesome'." %>

  <%= f.submit 'Add Comment' %>
<% end %>